<section id="projects">
  <div class="content">
    <h2>Projects</h2>
  </div>
</section>

<style>
  section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

