---
import '../styles/globals.css';
import Navigation from '@/components/layout/Navigation.astro';
import HomeSection from '@/components/sections/HomeSection.astro';
import ProjectsSection from '@/components/sections/ProjectsSection.astro';
import TimelineSection from '@/components/sections/TimelineSection.astro';
import EducationSection from '@/components/sections/EducationSection.astro';
import AboutMeSection from '@/components/sections/AboutMeSection.astro';
import ReachOutSection from '@/components/sections/ReachOutSection.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="icon" type="image/png" href="/images/logo/rdy_round_small.png" />
  </head>
  <body>
    <a href="#home" class="portfolio-logo">
      <img src="/images/logo/rdy_logo_white.png" alt="Portfolio Logo" />
    </a>
    <div class="home-wrapper">
      <HomeSection />
      <Navigation />
    </div>
    <main>
      <ProjectsSection />
      <TimelineSection />
      <EducationSection />
      <AboutMeSection />
      <ReachOutSection />
    </main>
  </body>
  
  <style>
    .portfolio-logo {
      position: fixed;
      top: 1.5rem;
      left: 1.5rem;
      z-index: 9999;
      transition: all 0.3s ease;
      padding: 0;
      border-radius: 8px;
    }

    .portfolio-logo.scrolled {
      background-color: rgba(86, 81, 81, 0.2);
      backdrop-filter: blur(20px);
      top: .75rem;
      left: .75rem;
      padding: 0.75rem;
    }

    .portfolio-logo img {
      height: 1.5rem;
      width: auto;
      display: block;
    }

    .portfolio-logo:hover img {
      filter: brightness(0) saturate(100%) invert(47%) sepia(85%) saturate(2274%) hue-rotate(239deg) brightness(98%) contrast(97%);
      transition: none;
    }

    .home-wrapper {
      position: relative;
      min-height: 110vh;
    }
  </style>

  <script>
    const logo = document.querySelector('.portfolio-logo');
    
    window.addEventListener('scroll', () => {
      if (window.scrollY > 0) {
        logo?.classList.add('scrolled');
      } else {
        logo?.classList.remove('scrolled');
      }
    });
  </script>
</html>
